* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.head {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  height: 95px;
  box-shadow: 3px 3px 3px rgb(255, 255, 255);
}

.head-img img {
  width: 65%;
  margin-top: -20%;
  margin-left: 10%;
}

.head-link {
  display: flex;
  margin-left: 37%;
  margin-top: 20px;
  gap: 100px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.head-link h2 {
  color: white;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6%;
}

.div1 {
  width: 500px;
  margin-left: 20%;
}

h1 {
  color: white;
}

.container-form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.container-form label {
  color: white;
  padding-bottom: 5px;
}

input {
  width: 300px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: #dfe0e1;
  cursor: pointer;
}

.div2 {
  width: 500px;
}

.svg-cart {
  width: 25px;
  margin-left: 44%;
}

.svg-key {
  width: 25px;
  margin-left: 44%;
}

.img {
  width: 400px;
}

.button button {
  width: 300px;
  margin-top: 7%;
  border-radius: 5px;
  padding: 8px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #52677c;
  cursor: pointer;
}
