/* Reset e estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Estilos da barra de navegação */
.head {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  height: 95px;
  box-shadow: 3px 3px 3px rgb(255, 255, 255);
}

.head-img img {
  width: 65%;
  margin-top: -20%;
  margin-left: 10%;
}

.head-link {
  display: flex;
  margin-left: 37%;
  margin-top: 20px;
  gap: 100px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.head-link h2 {
  color: white;
}

/* Estilos específicos da página 'sobre.php' */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
}

.tela {
  text-align: center;
  margin-bottom: 20px;
}

.titulo {
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 500px;
  margin-left: 20px;
  margin-right: -650px;
}

.sobre {
  flex: 2;
  text-align: justify;
  margin-right: 20px;
}

.p-sobre {
  font-size: 30px;
  line-height: 1.6;
  color: white;
  font-family: "Lato", sans-serif;
  margin-left: -150px;
  margin-top: 150px;
}

.divf {
  flex: 1;
}

.img1 {
  max-width: 150%;
}
