body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.head {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  height: 95px;
  box-shadow: 3px 3px 3px rgb(255, 255, 255);
}

.head-img img {
  width: 65%;
  margin-top: -20%;
  margin-left: 10%;
}

.head-link {
  display: flex;
  margin-left: 37%;
  margin-top: 20px;
  gap: 100px;
  cursor: pointer;
}

.head-link h2 {
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.butao {
  margin-bottom: 20px;
}

.butao a {
  color: blue;
  text-decoration: none;
}

.tela {
  text-align: center;
  margin-bottom: 20px;
}

.titulo {
  font-size: 2em;
  font-weight: bold;
}

.sobre {
  margin-bottom: 20px;
}

.p-sobre {
  color: #333;
}

.tamanhoimg {
  width: 100%;
}
