* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.head {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  height: 95px;
  box-shadow: 3px 3px 3px rgb(255, 255, 255);
}

.head-img img {
  width: 65%;
  margin-top: -20%;
  margin-left: 10%;
}

.head-link {
  display: flex;
  margin-left: 37%;
  margin-top: 20px;
  gap: 100px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.head-link h2 {
  color: white;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Lato", sans-serif;
  margin-top: 13%;
}

.main-text {
  width: 500px;
  margin-left: 3%;
  color: white;
}

.main-text h1 {
  font-size: 550%;
}

.simplifique {
  position: absolute;
  margin-top: -5%;
}

.presença {
  position: absolute;
  padding-top: 15px;
}

.main-text p {
  font-size: 170%;
  padding-top: 10px;
  margin-top: 25%;
  font-weight: bolder;
}

.main-img {
  width: 500px;
  margin-left: 20%;
  margin-top: -9%;
  padding: 0%;
}

.main-img .branco {
  position: relative;
  width: 138%;
  margin-top: 3%;
}

.main-img .person {
  position: absolute;
  width: 60%;
  margin-top: -37%;
  margin-left: -10.5%;
}

.main-img .person2 {
  position: absolute;
  width: 25%;
  margin-top: -25%;
  margin-left: 20%;
}

.botao {
  padding-top: 25px;
}

.botao button {
  width: 40%;
  height: 48px;
  border-radius: 20px;
  color: rgb(19, 19, 78);
  background-color: white;
  border: none;
  font-size: x-large;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  font-weight: bolder;
}

.botao button:hover {
  background: rgba(84, 105, 172, 0.712);
  color: white;
}

#formulario {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: rgba(255, 255, 255, 0.788);
  text-align: center; /* Centraliza o texto dentro do formulário */
  text-shadow: 5px;
  margin: 0 auto; /* Centraliza o formulário na horizontal */
  width: 350px; /* Defina a largura desejada para o formulário */
  border-radius: 32px;
  border: 6px solid rgba(22, 22, 214, 0.507); /* Adiciona uma borda azul ao redor do formulário */
  padding: 60px; /* Adiciona espaço interno para melhor aparência */
}
